/*
    SPDX-FileCopyrightText: 2023-2024 Sergey Katunin <sulmpx60@yandex.ru>
    SPDX-FileCopyrightText: 2023 Amin Irgaliev <irgaliev01@mail.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

#video-layout-container
{
    display: flex;
    flex: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    background-color: #101010;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.85);
}

.video-layout-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.video-layout-item
{
    display: flex;
    margin: 3px;
    align-items: center;
}

.debug-btn
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.debug-btn-2
{
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 5;
}

.video-layout-change-btn
{
    position: absolute;
    top: 1px;
    right: 1px;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    border-radius: 5px;
    color: #ffffff40;
    z-index: 2;
}

.video-layout-change-btn:hover
{
    color: #ffffff;
    box-shadow: 0 0 2px white;
    border-radius: 5px;
}

.video-layout-change-btn-icon
{
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;
    color: inherit;
}
