/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

.menu-list .menu-divider
{
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu-list
{
    padding-top: 0px;
    padding-bottom: 4px;
}

.menu-list:focus
{
    outline: none;
}

.menu-popper
{
    z-index: 10;
    box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.15);
}
