/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

.error-color
{
    color: var(--error-color);
    background-color: var(--error-bg-color);
}

.error-color p
{
    color: var(--error-text-color);
}

.info-color
{
    color: var(--info-color);
    background-color: var(--info-bg-color);
}

.info-color p
{
    color: var(--info-text-color);
}

.success-color
{
    color: var(--success-color);
    background-color: var(--success-bg-color);
}

.success-color p
{
    color: var(--success-text-color);
}

.menu-item-icon
{
    font-size: 1.25rem;
    display: inline-flex;
}

.icon-start.menu-item-icon
{
    margin-right: 12px;
}

.icon-end.menu-item-icon
{
    margin-left: 12px;
}

.menu-section-label
{
    display: inline-flex;
    padding: 10px 15px;
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    color: var(--secondary-text-color);
}

.menu-item-label
{
    display: inline-flex;
    flex: auto;
    padding: 0;
    margin: 0;
}

.small-text.menu-list .menu-item-label
{
    font-size: 0.85rem;
}

.menu-item
{
    line-height: normal;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu-item-select
{
    padding: 4px 8px;
}

.menu-item-slider.menu-item
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    min-width: 250px;
}

.menu-item-slider-container
{
    display: inline-flex;
    padding-right: 8px;
    box-sizing: border-box;
    width: 100%;
}
