/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

#toggle-mic-btn-menu
{
    max-width: 50%;
    max-height: 50%;
    overflow-y: auto;
}
