/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

#action-panel-container
{
    display: flex;
    max-height: 78px;
    min-height: 78px;
    margin-bottom: 1px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #1b282e;
    box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #1f2022;
    box-sizing: border-box;
    padding: 5px 5px;
}

.action-btn-box
{
    position: relative;
    box-sizing: border-box;
    min-width: 80px;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    margin-right: 6px;
}

.action-btn
{
    border-radius: 16px;
    line-height: initial;
    padding: 0;
    min-width: 42px;
    min-height: 42px;
    background-color: #444b50;
    margin-bottom: 5px;
    z-index: 2;
    position: relative;
}

.action-list-btn
{
    position: absolute;
    bottom: 25%;
    right: 12%;
    border-radius: 16px;
    padding: 0;
    min-width: 25px;
    min-height: 25px;
    max-height: 25px;
    max-width: 25px;
    background-color: #274962;
    border: 2px solid #171616;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 0;
    z-index: 3;
}

.action-list-btn:hover
{
    background-color: #595f64;
}

.action-btn:active
{
    background-color: #00000000;
}

.action-btn svg
{
    font-size: 22px;
    pointer-events: none;
}

.action-btn-box .action-btn-desc
{
    text-transform: none;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    overflow: hidden;
    font-weight: 500;
}

.action-btn-icon
{
    position: absolute;
    transition: opacity 200ms;
}

.action-btn-on
{
    background-color: #e1e1e1;
    color: #000;
}

.action-btn-on .action-btn-icon-off
{
    opacity: 0;
}

.action-btn-on .action-btn-icon-on
{
    opacity: 1;
}

.action-btn-on:hover
{
    background-color: #feb4b4;
    color: #000;
}

.action-btn-off
{
    background-color: #c73335;
    color: #fff;
}

.action-btn-off .action-btn-icon-on
{
    opacity: 0;
}

.action-btn-off .action-btn-icon-off
{
    opacity: 1;
}

.action-btn-off:hover
{
    background-color: #e6595b;
    color: #fff;
}

.action-btn-optional.action-btn-off
{
    background-color: #444b50;
    color: #f7f1f1;
}

.action-btn-optional.action-btn-off:hover
{
    background-color: #646c72;
    color: #f7f1f1;
}

.action-btn-optional.action-btn-on:hover
{
    background-color: #feb4b4;
    color: #000;
}

.action-btn-clickable-area
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.action-list-btn-clickable-area
{
    position: absolute;
    width: 50%;
    height: 75%;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.chip-resolution
{
    font-size: 0.77rem;
    font-weight: 500;
    background-color: #4a6c8f;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 10px;
}

#tooltip-toggle-sound-btn
{
    width: 140px;
}

#tooltip-toggle-display-btn
{
    width: 175px;
}
