/*
    SPDX-FileCopyrightText: 2023 Amin Irgaliev <irgaliev01@mail.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

.file-message-size
{
    font-size: 8pt;
    color: #8999a0;
    margin-top: 4px;
}

.file-message-name
{
    color: rgb(192, 125, 223);
}

/* Стиль кликабельного контейнера над сообщением (для обработки скачивания файла) */
.file-message-link
{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
