/*
    SPDX-FileCopyrightText: 2023 Amin Irgaliev <irgaliev01@mail.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

/************** Блоки сообщений в чате **************/

/* Собственное смс (справа) */
.self-message-area
{
    display: flex;
    justify-content: right;
    margin: 0.6rem 0.8rem 0.6rem 0.8rem;
}

/* Сообщение собеседника (слева) */
.message-area
{
    display: flex;
    justify-content: left;
    margin: 0.6rem 0.8rem 0.6rem 0.8rem;
}

/* Контейнер для сообщений */
.message-container
{
    padding: 10px;
    min-width: 10%;
    max-width: 60%;
    position: relative;
    overflow-wrap: anywhere;
}

.message-body
{
    margin-top: 4px;
    white-space: pre-wrap;
}

/* Стили блоков сообщений */

/* Общий стиль всех сообщений */
.message-content
{
    text-align: left;
    border-width: 2px;
    border-style: solid;
    margin-top: 4px;
}

/* Стиль сообщений других участников */
.members-message-content
{
    border-color: #363f47;
    background-color: #363f47;
    border-radius: 0.75rem 0.75rem 0.75rem 0;
}

/* Стиль собственных сообщений */
.self-message-content
{
    border-color: #1d3034;
    background-color: #1d3034;
    border-radius: 0.75rem 0.75rem 0 0.75rem;
}

/* Стиль имени отправителя смс */
.message-user-name
{
    font-weight: 600;
    color: dodgerblue;
}

/* Стиль id отправителя смс */
.message-user-id
{
    font-size: 0.75rem;
    margin-top: 0.0625rem;
    margin-left: 5px;
    font-weight: 300;
    color: #8999a0;
}

/* Стиль даты отправки смс */
.message-date-container
{
    text-align: right;
}

.message-date
{
    font-size: 8pt;
    color: #8999a0;
}

.z-2
{
    position: relative;
    z-index: 2;
}
