/*
    SPDX-FileCopyrightText: 2023 Amin Irgaliev <irgaliev01@mail.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

/******** Ссылки ********/
.styled-message-link
{
    color: dodgerblue;
}

.styled-message-link:visited
{
    color: rgb(192, 125, 223);
}

/******** Эффекты текста ********/
.styled-message-inline-code-area
{
    white-space: pre-wrap;
    background-color: #555555;
}

.styled-message-code-area
{
    white-space: pre-wrap;
    margin: 0;
    background-color: #555555;
}
