.room-edit-container
{
    display: flex;
    flex-direction: column;
    flex: auto;
    max-height: 100%;
}

.edit-room-list
{
    border-radius: 7px;
    padding: 5px 10px 10px 10px;
    flex: auto;
    flex-grow: 1;
    overflow: scroll;
}

.edit-room-list-item
{
    padding-top: 12px;
    margin-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
}

.edit-room-list-item:hover
{
    box-shadow: 0 0 2px white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.08);
}

.edit-room-list-item:focus-within
{
    box-shadow: 0 0 2px white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.08);
    outline: none;
}

.edit-room-list-item-icon
{
    color: var(--primary-text-color);
    height: 24px;
    width: 24px;
}

.room-edit-menu-header
{
    background-color: #474d5e;
    padding: 8px 16px 8px 16px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.delete-room-btn
{
    color: var(--error-color)
}

.edit-room-list-item-area
{
    display: flex;
}

.edit-room-list-item-name
{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
