/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>
    SPDX-FileCopyrightText: 2023 Vladislav Tarakanov <vladislav.tarakanov@bk.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

.sidebar-main-with-inner-scroll
{
    position: relative;
    height: 100%;
    max-height: 100%;
}

#layer-admin-panel
{
    background-color: #282f39;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
