/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

#base
{
    position: relative;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}
