.notification-popup-container
{
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    max-height: 50vh;
    overflow-y: scroll;
    margin-right: -10px;
    padding-right: 10px;
    background-color: #00000050;
    border-top-left-radius: 4px;
}
