.notification-popup-container
{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    z-index: 9;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    margin-right: -10px;
    padding-right: 10px;
}

.icon-size
{
    min-width: 3rem;
    max-width: 3rem;
    min-height: 3rem;
    max-height: 3rem;
}

.error-notification-icon
{
    color: var(--error-color);
}

.info-notification-icon
{
    color: var(--info-color);
}

.warning-notification-icon
{
    color: var(--warning-color);
}

.error-notification-background
{
    background-color: #403434f7;
}

.info-notification-background
{
    background-color: #343440f7;
}

.warning-notification-background
{
    background-color: #404034f7;
}
