/*
    SPDX-FileCopyrightText: 2022-2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

.room-list-page-list
{
    padding: 15px;
}

.room-list-page-button
{
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 50%;
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
    margin-right: 15px;
}

.room-list-page-button:hover
{
    background-color: rgb(0, 0, 0, 0.1);
}

.room-list-page-item-icon
{
    color: var(--primary-text-color);
    min-height: 27px;
    min-width: 27px;
    max-height: 27px;
    max-width: 27px;
    margin-right: 5px;
}
