#room-name
{
    color: #d4d4d4;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

#auth
{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #4f5461;
    font-size: 2rem;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.2);
    width: 480px;
    box-sizing: border-box;
}

#pass
{
    margin-bottom: 10px;
    font-size: 0.9em;
    font-weight: 300;
    border-radius: 3px;
    height: 1.5em;
    padding-left: 10px;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.2);
}

@media (width < 600px)
{
    #auth
    {
        font-size: 1.5rem;
        max-width: 224px;
    }
}

@media (height < 600px)
{
    #auth
    {
        font-size: 1.5rem;
    }
}

#btn-join
{
    margin-top: 5px;
    font-size: 0.8em;
    height: 2em;
    font-weight: 300;
    background-color: #95b0f5;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.2);
}

#btn-join:hover
{
    background-color: #7491da;
    border: 1px rgba(0, 0, 0, 0.6) solid;
}

#status
{
    background-color: #fd5d00;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    margin-bottom: 0.3em;
}