/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

#layer-settings
{
    background-color: #282f39;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
