/*
    SPDX-FileCopyrightText: 2023 Amin Irgaliev <irgaliev01@mail.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

.select-form-control
{
    width: 100%;
    display: flex;
}

.select-input
{
    padding: 8px;
    background-color: rgb(37, 38, 39);
    padding-left: 15px;
}
