/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>
    SPDX-FileCopyrightText: 2023 Amin Irgaliev <irgaliev01@mail.ru>
    SPDX-FileCopyrightText: 2023 Vladislav Tarakanov <vladislav.tarakanov@bk.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

.sidebar-view-sidebar-panel
{
    display: flex;
    justify-content: flex-end;
    flex: 1 0 280px;
    height: 100%;
    overflow-y: auto;
}

.sidebar-view-main-panel
{
    display: flex;
    flex-direction: column;
    flex: 1 1 1000px;
    align-items: flex-start;
    height: 100%;
    overflow-x: hidden;
}

.sidebar-view-main-panel-without-sidebar
{
    flex: 1 1 1280px;
    align-items: center;
}

.sidebar-view-main-scrollable-area
{
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    flex: auto;
}

.sidebar-view-main-panel-without-sidebar .sidebar-view-main-scrollable-area
{
    justify-content: center;
}

.sidebar-view-sidebar
{
    display: flex;
    width: 280px;
    background-color: #2f3236;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 20px 10px;
    box-sizing: border-box;
    height: max-content;
    min-height: 100%;
}

.sidebar-view-main-width
{
    min-width: 360px;
    max-width: 1000px;
    flex: auto;
}

.sidebar-view-main-panel-without-sidebar .sidebar-view-main-width
{
    max-width: 1280px;
}

.sidebar-view-main
{
    display: flex;
    flex-direction: column;
    background-color: #34363b;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 20px;
    box-sizing: border-box;
    height: max-content;
    min-height: 100%;
}

.sidebar-view-main:focus-visible
{
    outline-offset: -5px;
}

.sidebar-view-header
{
    display: flex;
    width: 100%;
    min-height: 48px;
    max-height: 48px;
    border-bottom: 1px solid #2b2e33;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.85);
    background-color: #414652;
    padding: 0 8px 0 8px;
    align-items: center;
}

.sidebar-btn
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-btn:hover
{
    color: #fff;
    background-color: #ffffff1b;
}

.sidebar-btn:active
{
    background-color: #00000000;
}

.sidebar-btn
{
    max-height: 36px;
    min-height: 36px;
    min-width: 36px;
    max-width: 36px;
    color: #b5bac1;
    border-radius: 4px;
    padding: 0;
}

.sidebar-btn svg
{
    font-size: 22.5px;
}
