/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

#account-menu-btn
{
    margin-right: 8px;
    margin-left: 8px;
    padding: 4px 0 4px 0;
    color: #b5bac1;
    height: 36px;
    width: 64px;
    box-sizing: border-box;
}

#account-menu-btn:hover
{
    background-color: #92939534;
}

#account-menu-btn:active
{
    background-color: #9293955b;
}

#account-menu-btn-avatar
{
    width: 26px;
    height: 26px;
    margin-left: 6px;
    margin-right: 2px;
    box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.85);
    font-size: 1rem;
    color: var(--primary-text-color);
}

#account-menu-btn-down-icon
{
    font-size: 19.5px;
    margin-left: 2px;
    margin-right: 2px;
}

#account-menu .menu-paper
{
    overflow: visible;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32));
    margin-top: 12px;
    background-color: #36383d;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0, 0.35);
}

#account-menu .menu-paper::before
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 29px;
    width: 10px;
    height: 10px;
    background-color: #474d5e;
    border-top: 1px solid rgb(0, 0, 0, 0.6);
    border-left: 1px solid rgb(0, 0, 0, 0.6);
    box-sizing: content-box;
    transform: translateY(-50%) rotate(45deg);
    z-index: 0;
}

#account-menu .menu-paper .menu-divider
{
    border-color: rgba(0, 0, 0, 0.35);
    margin: 0;
}

#account-menu .menu-list
{
    color: var(--primary-text-color);
    padding-top: 0;
}

#account-menu .menu-item:hover
{
    background-color: #45484f;
}

#account-menu-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 8px 16px 8px 16px;
    background-color: #474d5e;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#account-menu-avatar-container
{
    min-width: 56px;
    flex-shrink: 0;
}

#account-menu-avatar-container .account-menu-avatar
{
    color: var(--primary-text-color);
}

#account-menu-info
{
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 4px;
}

#account-menu-info-role
{
    font-size: 1;
    justify-content: center;
    display: inline-flex;
    background-color: #6a7080;
    margin-top: 8px;
}

#account-menu-info-name
{
    font-size: 1.15rem;
    color: var(--primary-text-color);
    word-wrap: anywhere;
}

#account-menu-info-id
{
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--secondary-text-color);
    margin-top: 2px;
}

@media (width < 600px) or (height < 600px)
{
    #tooltip-account-menu-info-role
    {
        width: 100px;
    }
}
