/* оформление для заголовка */
.header
{
    display: flex;
    align-items: center;
    min-height: 48px;
    max-height: 48px;
    background-color: #414652;
    border-bottom: 1px solid #2b2e33;
    box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.85);
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

#header-title
{
    margin-left: 10px;
    font-size: 1.4rem;
    color: var(--secondary-text-color);
    min-width: 25px;
    max-width: 500px;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (width < 600px) or (height < 600px)
{
    #header-title
    {
        font-size: 1rem;
    }
}