/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

/* Оформление для меню навигации. */
.nav
{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 64px;
    max-width: 64px;
    background-color: #202225;
    height: 100%;
}

.nav-btn
{
    display: flex;
    position: relative;
    text-decoration: none;
    color: var(--secondary-text-color);
    margin-bottom: 2px;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.nav-btn:hover
{
    background-color: inherit;
    color: white;
}

.nav-btn:focus-visible
{
    outline: none;
}

.nav-btn:hover .nav-btn-selector,
.nav-btn:focus .nav-btn-selector,
.nav-btn:focus-visible .nav-btn-selector
{
    height: 30%;
}

.nav-btn-active.nav-btn .nav-btn-selector
{
    height: 50%;
}

.nav-btn-selector
{
    position: absolute;
    left: 0;
    width: 3px;
    height: 0%;
    background-color: white;
    border-radius: 0 4px 4px 0;
    transition: height 100ms;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.5);
}

.nav-btn-icon
{
    border-radius: 10px;
    padding: 4px;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.nav-btn-underline
{
    width: 40%;
    background-color: #9e9797;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#nav-btn-home
{
    background-color: #05516a;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.2);
}

#nav-btn-home:hover
{
    background-color: #0b799d;
}
