.tooltip
{
    background-color: rgba(0, 0, 0, 0.98);
    font-size: 0.9rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    border: none;
    touch-action: manipulation;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.85);
    box-sizing: border-box;
    max-width: 190px;
    font-weight: 400;
}

.MuiTooltip-popper[data-popper-placement] .MuiTooltip-tooltip
{
    margin: 0;
}

.tooltip .tooltip-arrow
{
    color: black;
}