.vertical-layout
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #36393f;
    overflow: hidden;
}

.vl-resizer-bar
{
    cursor: ns-resize;
    min-height: 4px;
    width: 100%;
    border-radius: 20px;
    touch-action: manipulation;
    user-select: none;
    background: repeating-linear-gradient(45deg,
            #383a49,
            #383a49 10px,
            #272831 10px,
            #272831 20px);
}

@media (width <=600px) or (height <=600px)
{
    .vl-resizer-bar
    {
        min-height: 8px;
    }
}

.vl-resizer-bar-activated
{
    background: repeating-linear-gradient(45deg,
            #496381,
            #496381 10px,
            #393a4a 10px,
            #393a4a 20px);
}

.vl-upper-elem
{
    position: relative;
    display: flex;
}

.vl-lower-elem
{
    position: relative;
    display: flex;
    flex: auto;
    min-height: 20%;
}