/*
    SPDX-FileCopyrightText: 2023 Vladislav Tarakanov <vladislav.tarakanov@bk.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

.text-edit-dialog-container
{
    margin: 32px;
    padding: 20px 20px 8px 20px;
    background-color: #383838;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 0px 12px rgb(0, 0, 0, 0.6));
    max-width: 500px;
}

.text-edit-dialog-label
{
    margin-bottom: 20px;
    font: inherit;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
}

.text-edit-dialog-description
{
    color: var(--secondary-text-color);
    margin-bottom: 12px;
    line-height: 1.6;
}

.text-edit-dialog-input-container
{
    color: var(--secondary-text-color);
    background-color: inherit;
    display: flex;
    position: relative;
    flex: auto;
    margin-bottom: 20px;
}

.text-edit-dialog-input-container:hover
{
    color: var(--primary-text-color);
}

.text-edit-dialog-input-container:focus-within
{
    color: var(--info-text-color);
}

.text-edit-dialog-input
{
    margin: 1px;
    flex: auto;
    background: none;
    padding: 16px 14px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 4px;
    color: var(--primary-text-color);
    font-size: 1rem;
}

.text-edit-dialog-input:hover
{
    border: 1px solid var(--primary-text-color);
}

.text-edit-dialog-input:focus
{
    margin: 0px;
    outline: none;
    border: 2px solid var(--info-text-color);
}

.text-edit-dialog-input-hint
{
    color: inherit;
    font-size: 0.75rem;
    background-color: inherit;
    position: absolute;
    left: 12px;
    top: -0.375rem;
    padding-left: 4px;
    padding-right: 4px;
}

.text-edit-dialog-actions-container
{
    flex: auto;
    display: flex;
    justify-content: flex-end;
}
