/*
    SPDX-FileCopyrightText: 2023 Amin Irgaliev <irgaliev01@mail.ru>
    SPDX-FileCopyrightText: 2023-2024 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

.manage-users-container
{
    display: flex;
    flex: auto;
    flex-direction: column;
    max-height: 100%;
    box-sizing: border-box;
}

.manage-users-list
{
    border-radius: 7px;
    padding: 5px 10px 10px 10px;
    flex: auto;
    flex-grow: 1;
    overflow: scroll;
}

.manage-users-list-item
{
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 0px;
}

.manage-users-list-item-area
{
    display: flex;
}

.manage-users-list-item:hover
{
    box-shadow: 0 0 2px white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.08);
}

.manage-users-list-item:focus-within
{
    box-shadow: 0 0 2px white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.08);
    outline: none;
}

.manage-users-list-item-icon
{
    color: var(--primary-text-color);
    min-height: 24px;
    min-width: 24px;
    max-height: 24px;
    max-width: 24px;
}

.manage-users-exit-button
{
    color: #b5bac1;
    border-radius: 4px;
    max-height: 36px;
    min-height: 36px;
    min-width: 36px;
    max-width: 36px;
    font-size: 22.5px;
    margin-right: 20px;
}

.manage-users-header-area
{
    min-height: 48px;
    max-height: 48px;
    border-bottom: 1px solid #2b2e33;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.85);
    padding: 0 8px 0 8px;
    align-items: center;
    background-color: #4e535e;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.manage-users-list-item-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.manage-users-list-item-info-name
{
    font-size: 1.15rem;
    color: var(--primary-text-color);
    word-wrap: anywhere;
}

.manage-users-list-item-info-id
{
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--secondary-text-color);
    margin-top: 2px;
}

.manage-users-list-item-avatar-container
{
    display: flex;
    align-items: center;
    min-width: 56px;
    flex-shrink: 0;
    margin-left: 15px;
}

.manage-users-list-item-avatar-container .manage-users-list-item-avatar
{
    color: var(--primary-text-color);
}

.manage-users-name-room
{
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    white-space: nowrap;
}

@media (width < 600px) or (height < 600px)
{
    .manage-users-name-room
    {
        font-size: 0.9rem;
        white-space: normal;
    }
}

.manage-users-search-panel
{
    margin-top: 50px;
}

.manage-users-button
{
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 50%;
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
    margin-right: 15px;
}

.manage-users-button:hover
{
    background-color: rgb(0, 0, 0, 0.1);
}
