/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

.toolbar-btn
{
    min-width: 36px;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    margin-left: 4px;
    filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, 0.6));
    padding: 0;
}

.toolbar-btn:hover
{
    background-color: #ffffff1b;
}

.toolbar-btn:active
{
    background-color: #00000000;
}

.toolbar-btn svg
{
    font-size: 22.5px;
}

.toolbar-btn-active.toolbar-btn
{
    color: #f7f1f1;
}

.toolbar-btn-inactive.toolbar-btn
{
    color: #b5bac1;
}

#header-room-toolbar
{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-right: 4px;
    align-items: center;
    min-width: max-content;
}

#tooltip-user-list-btn
{
    width: 140px;
}
