/*
    SPDX-FileCopyrightText: 2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

#user-list-container
{
    background-color: #2e3133;
    border-radius: 7px;
    margin-left: 5px;
    min-width: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user-list-item
{
    display: flex;
    height: 42px;
    box-sizing: border-box;
    align-items: center;
    padding: 0 8px 0 8px;
    margin: 2px 7px 2px 7px;
    border-radius: 6px;
}

.user-list-item:focus
{
    background-color: #3b3f41;
    box-shadow: none;
}

.user-list-item:focus-visible
{
    background-color: #3b3f41;
    outline: none;
}

.user-list-item:active
{
    background-color: #3b3f41;
}

.user-list-item:hover
{
    background-color: #3b3f41;
    box-shadow: none;
}

.user-list-item-avatar
{
    width: 32px;
    height: 32px;
    margin-right: 12px;
    color: #fff;
}

.user-list-item-info
{
    display: flex;
    flex-direction: column;
}

.user-list-item-info-name
{
    font-size: 1rem;
    color: var(--primary-text-color);
    word-wrap: anywhere;
}

.user-list-item-info-id
{
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--secondary-text-color);
    margin-top: 2px;
}
