.video-ribbon-layout
{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-ribbon-active-card
{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.active-ribbon-card-icon
{
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    color: var(--secondary-text-color);
}

.video-ribbon
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
    padding: 10px;
}

.video-ribbon-button-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #888888;
    cursor: pointer;
    min-width: 9.6rem;
    max-width: 9.6rem;
}

.video-ribbon-button-container:hover
{
    color: #ffffff;
}

.video-ribbon-button
{
    padding: 0;
    min-width: 32px;
    min-height: 32px;
    background-color: unset;
    color: inherit;
}

.video-ribbon-button:hover
{
    color: inherit;
}

.video-ribbon-button-label
{
    font-size: 0.8rem;
    color: inherit;
    white-space: nowrap;
    transition: 250ms;
}

.video-ribbon-prev-button-label
{
    padding-bottom: 5px;
}

.video-ribbon-next-button-label
{
    padding-top: 5px;
}

.video-ribbon-prev-page-icon
{
    width: 32px;
    height: 32px;
    transform: rotate(270deg);
}

.video-ribbon-next-page-icon
{
    width: 32px;
    height: 32px;
    transform: rotate(90deg);
}

.video-ribbon-card
{
    display: flex;
    cursor: pointer;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    min-height: 5.4rem;
    max-height: 5.4rem;
    min-width: 9.6rem;
    max-width: 9.6rem;
}
.video-ribbon-card-child
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-ribbon-card-list-item
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.video-ribbon-list
{
    display: flex;
    flex-direction: column;
}

@media (orientation: portrait)
{
    .video-ribbon-layout
    {
        flex-direction: column;
    }

    .video-ribbon
    {
        padding-top: 20px;
        flex-direction: row;
    }

    .video-ribbon-button
    {
        height: 3.6rem;
        width: auto;
    }

    .video-ribbon-button-container
    {
        flex-direction: row;
        min-height: 5.4rem;
        max-height: 5.4rem;
        min-width: unset;
        max-width: unset;
    }

    .video-ribbon-prev-button-label
    {
        padding: 0;
        padding-right: 5px;
    }
    
    .video-ribbon-next-button-label
    {
        padding: 0;
        padding-left: 5px;
    }

    .video-ribbon-prev-page-icon
    {
        transform: rotate(180deg);
    }

    .video-ribbon-next-page-icon
    {
        transform: rotate(0deg);
    }

    .video-ribbon-card
    {
        margin-left: 3px;
        margin-right: 3px;
    }

    .video-ribbon-list
    {
        flex-direction: row;
    }
}
