#video-layout
{
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    background-color: #101010;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.85);
}

.video-layout-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.video-layout-item
{
    display: flex;
    margin: 3px;
    align-items: center;
}

.debug-btn
{
    position: absolute;
    left: 0;
    top: 0;
}

.debug-btn-2
{
    position: absolute;
    left: 0;
    top: 20px;
}

.change-layout-button
{
    position: absolute;
    top: 1px;
    right: 1px;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    border-radius: 5px;
    color: #ffffff40;
}

.change-layout-button:hover
{
    color: #ffffff;
    box-shadow: 0 0 2px white;
    border-radius: 5px;
}

.change-layout-icon
{
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;
    color: inherit;
}
