/*
    SPDX-FileCopyrightText: 2022-2023 Sergey Katunin <sulmpx60@yandex.ru>

    SPDX-License-Identifier: BSD-2-Clause
*/

:root
{
    --primary-text-color: #e1e3e6;
    --secondary-text-color: #c1c2c3;

    --secondary-bg-color: #777777;

    --error-color: #f44336;
    --error-bg-color: #160b0b;
    --error-text-color: #f4c7c7;

    --warning-color: #ffa726;
    --warning-bg-color: #191207;
    --warning-text-color: #ffe2b7;

    --info-color: #29b6f6;
    --info-bg-color: #071318;
    --info-text-color: #b8e7fb;

    --success-color: #66bb6a;
    --success-bg-color: #0c130d;
    --success-text-color: #cce8cd;
}

.backdrop
{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.flex
{
    display: flex;
}

.flex-column
{
    flex-direction: column;
}

.flex-row
{
    flex-direction: row;
}

.flex-auto
{
    flex: auto;
}

.inline
{
    display: inline;
}

#app
{
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 320px;
    min-width: 360px;
    color: var(--primary-text-color);
}

#main
{
    display: flex;
    flex: auto;
    flex-direction: row;
    font-size: 1.125rem;
    padding: 4px 5px;
    background-color: #36393f;
    overflow: hidden;
    position: relative;
}

.bold
{
    font-weight: 600;
}

.semi-bold
{
    font-weight: 500;
}

.m-a
{
    margin: auto;
}

.ml-4
{
    margin-left: 4px;
}

.m-0
{
    margin: 0;
}

.p-0
{
    padding: 0;
}

[hidden]
{
    display: none !important;
}

.non-selectable
{
    user-select: none;
}

.clickable
{
    cursor: pointer;
}

.text-no-wrap
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-wrap
{
    white-space: normal;
}

.horizontal-expander
{
    flex: auto;
    height: 100%;
    display: inline;
}

.vertical-expander
{
    flex: auto;
    width: 100%;
    display: inline;
}

.v-align-default
{
    vertical-align: baseline;
}

.v-align-middle
{
    vertical-align: middle;
}

.relative
{
    position: relative;
}

.absolute
{
    position: absolute;
}

.overflow-container
{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.layer
{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
