@font-face
{
    font-family: Rubik;
    src: url('./assets/fonts/rubik/Rubik.ttf') format('truetype');
    font-weight: 300 900;
    font-style: normal;
}

@font-face
{
    font-family: Rubik;
    src: url('./assets/fonts/rubik/Rubik-Italic.ttf') format('truetype');
    font-weight: 300 900;
    font-style: italic;
}

html,
body,
#root
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root
{
    display: flex;
}

html,
body,
input,
button,
textarea,
select
{
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*
{
    scrollbar-width: thin;
}

*::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track:active
{
    background: rgb(45, 41, 41);
}

*::-webkit-scrollbar-thumb
{
    background-color: grey;
    border: none;
}
