.modal-notification-area
{
    background-color: gray;
    max-width: 500px;
    border-radius: 4px;
}

.error-modal-notification-background
{
    background-color: #403434f7;
}

.info-modal-notification-background
{
    background-color: #343440f7;
}

.warning-modal-notification-background
{
    background-color: #404034f7;
}

.modal-notification-header-area
{
    padding: 15px;
    display: flex;
    align-items: center;
}

.modal-notification-header-icon
{
    min-height: 1rem;
    max-height: 1rem;
    min-width: 1rem;
    max-width: 1rem;
    overflow: hidden;
    margin-right: 5px;
}

.modal-notification-header
{
    text-align: left;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--primary-text-color);
    margin-right: 5px;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.modal-notification-header-date
{
    color: var(--secondary-text-color);
    font-size: 0.75rem;
    font-weight: 200;
    flex-grow: 0;
}

.modal-notification-close-button
{
    margin-left: 3px;
    border: 1px solid #00000000;
    border-radius: 5px;
    height: 1rem;
    max-width: 1rem;
    min-width: 1rem;
    color: var(--primary-text-color);
    cursor: pointer;
    font-size: 0.75rem;
}

.modal-notification-close-button:hover
{
    border: 1px solid white;
    outline: none;
}

.modal-notification-close-button:focus
{
    border: 1px solid white;
    outline: none;
}

.modal-notification-description-area
{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    height: 7.5rem;
    overflow-y: scroll;
}

.modal-notification-description
{
    font-size: 0.85rem;
    color: var(--primary-text-color);
    word-wrap: break-word;
    text-align: left;
    line-height: 1.25rem;
}

.modal-notification-toolbar
{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.modal-notification-toolbar-button
{
    color: var(--primary-text-color);
    background-color: #00000015;
    border: 1px solid #00000020;
    margin-left: 10px;
    font-size: 0.85rem;
}
