.modal-notification-area
{
    display: flex;
    flex-direction: column;
    background-color: gray;
    min-width: 30%;
    max-width: 60%;
    min-height: 20%;
    max-height: 60%;
    border-radius: 4px;
}

.modal-notification-header-area
{
    padding: 15px 15px 10px 15px;
    display: flex;
    align-items: center;
}

.modal-notification-header-date
{
    color: var(--secondary-text-color);
    font-size: 0.75rem;
    font-weight: 200;
    flex-grow: 0;
}

.modal-notification-icon-area
{
    display: flex;
    justify-content: center;
    margin: 0px 10px 15px 10px;
}

.modal-notification-body-area
{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.modal-notification-body
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modal-notification-label
{
    text-align: left;
    font-size: 0.95rem;
    line-height: 1.2rem;
    font-weight: 600;
    color: var(--primary-text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 15px;
    margin-bottom: 15px;
    min-height: 1.2rem;
}

.modal-notification-close-button-area
{
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

.modal-notification-close-button
{
    margin-left: 3px;
    border: 1px solid #00000000;
    border-radius: 5px;
    height: 1rem;
    max-width: 1rem;
    min-width: 1rem;
    color: var(--primary-text-color);
    cursor: pointer;
    font-size: 0.75rem;
}

.modal-notification-close-button:hover
{
    border: 1px solid white;
    outline: none;
}

.modal-notification-close-button:focus
{
    border: 1px solid white;
    outline: none;
}

.modal-notification-description-area
{
    padding-right: 15px;
    overflow-y: scroll;
    flex: auto;
}

.modal-notification-description
{
    font-size: 0.85rem;
    color: var(--primary-text-color);
    word-wrap: break-word;
    text-align: left;
    line-height: 1.2rem;
}

.modal-notification-toolbar
{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.modal-notification-toolbar-button
{
    color: var(--primary-text-color);
    background-color: #00000015;
    border: 1px solid #00000020;
    margin-left: 10px;
    font-size: 0.85rem;
}

@media (orientation: portrait)
{
    .modal-notification-body-area
    {
        flex-direction: column;
    }

    .modal-notification-body
    {
        margin-left: 15px;
    }

    .modal-notification-label
    {
        text-align: center;
    }
}
