.popup-area
{
    display: flex;
    flex-direction: column;
    width: 400px;
    opacity: 1;
    color: white;
    box-shadow: 2px 2px 6px 0 black;
    border: 1px solid #303030;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    overflow: hidden;
}

.error-popup-background
{
    background-color: #403434f7;
}

.info-popup-background
{
    background-color: #343440f7;
}

.warning-popup-background
{
    background-color: #404034f7;
}

.popup-header-area
{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.popup-header-icon
{
    min-height: 1rem;
    max-height: 1rem;
    min-width: 1rem;
    max-width: 1rem;
    overflow: hidden;
    margin-right: 5px;
}

.popup-header
{
    text-align: left;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--primary-text-color);
    margin-right: 5px;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}


.popup-header-date
{
    color: var(--secondary-text-color);
    font-size: 0.75rem;
    font-weight: 200;
    flex-grow: 0;
}

.popup-close-button
{
    margin-left: 3px;
    border: 1px solid #00000000;
    border-radius: 5px;
    height: 1rem;
    max-width: 1rem;
    min-width: 1rem;
    color: var(--primary-text-color);
    cursor: pointer;
    font-size: 0.75rem;
}

.popup-close-button:hover
{
    border: 1px solid white;
    outline: none;
}

.popup-close-button:focus
{
    border: 1px solid white;
    outline: none;
}

.popup-description
{
    font-size: 0.85rem;
    color: var(--primary-text-color);
    overflow: hidden;
    word-wrap: break-word;
    text-align: left;
    line-height: 1rem;
    height: 4rem;
    max-height: 4rem;
    /* Для обрезки текста многоточием после 4 строк */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}

.popup-description-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    max-height: 4rem;
    width: 4rem;
    max-width: 4rem;
    padding-right: 10px;
}
.modal-icon-size
{
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
}

.notification-icon-warning
{
    color: var(--warning-color);
}

.notification-icon-error
{
    color: var(--error-color);
}

.notification-icon-info
{
    color: var(--info-color);
}
