.error-notification-panel
{
    position: relative;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    text-align: center;
    background-color: #383838;
    transition: 1s;
}

.error-notification-icon
{
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    color: var(--error-color);
}

.error-notification-button
{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    height: 25px;
    max-width: 25px;
    min-width: 25px;
    color: var(--primary-text-color);
    cursor: pointer;
    font-size: 0.75rem;
    margin: 5px 5px;
}

.error-notification-button:hover
{
    border: 1px solid white;
    outline: none;
}

.error-notification-button:focus
{
    border: 1px solid white;
    outline: none;
}

.error-notification-label
{
    font-size: 1rem;
    color: var(--primary-text-color);
}

.error-notification-description
{
    font-size: 0.85rem;
    color: var(--primary-text-color);
}

.info-notification-panel
{
    position: relative;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    text-align: center;
    background-color: #383838;
    transition: 1s;
}

.info-notification-icon
{
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    color: var(--info-color);
}

.info-notification-button
{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    height: 25px;
    max-width: 25px;
    min-width: 25px;
    color: var(--primary-text-color);
    cursor: pointer;
    font-size: 0.75rem;
    margin: 5px 5px;
}

.info-notification-button:hover
{
    border: 1px solid white;
    outline: none;
}

.info-notification-button:focus
{
    border: 1px solid white;
    outline: none;
}

.info-notification-label
{
    font-size: 1rem;
    color: var(--primary-text-color);
}

.info-notification-description
{
    font-size: 0.85rem;
    color: var(--primary-text-color);
}

.warning-notification-panel
{
    position: relative;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    text-align: center;
    background-color: #383838;
    transition: 1s;
}

.warning-notification-icon
{
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    color: var(--warning-color);
}

.warning-notification-button
{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    height: 25px;
    max-width: 25px;
    min-width: 25px;
    color: var(--primary-text-color);
    cursor: pointer;
    font-size: 0.75rem;
    margin: 5px 5px;
}

.warning-notification-button:hover
{
    border: 1px solid white;
    outline: none;
}

.warning-notification-button:focus
{
    border: 1px solid white;
    outline: none;
}

.warning-notification-label
{
    font-size: 1rem;
    color: var(--primary-text-color);
}

.warning-notification-description
{
    font-size: 0.85rem;
    color: var(--primary-text-color);
}

.notification-toolbar
{
    flex: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.notification-date
{
    color: var(--secondary-text-color);
    font-size: 0.85rem;
}
